body {
  background-color: #ecf0f1;
}

header {
  display: flex;
  background-color: #2c3e50;
  padding: 1em;
}

header > * {
  margin: 0 auto;
}

#logo {
  display: flex;
  font-size: 2em;
  color: #ecf0f1;
}

#logo a {
  text-decoration: none;
}

#logo a:visited {
  color: #ecf0f1;
}

.btn {
  display: inline-block;
  margin-right: 3em;
  padding: 10px;
  background-color: #3699dc;
  border-width: 0;
  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
}

.btn a {
  text-decoration: none;
  color: #ecf0f1;
  text-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.btn:hover {
  background-color: #2b85c1;
}

#user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}

.container {
  width: 700px;
  margin: 0 auto;
  background-color: #d9ddde;
  border-radius: 5px;
}

.links {
  list-style: none;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.links a {
  text-decoration: none;
}

.inner-container {
  padding: 10px;
  margin-bottom: 10px;
}

.input {
  display: block;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

#new-link {
  margin: 0 auto;
  width: 40%;
}

.btn-add {
  background-color: #3699dc;
  border-width: 0;
  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
  padding: 10px;
  color: #ecf0f1;
  text-align: center;
  margin-left: 7em;

}
