Please sign in.

<form method="post" action="/sessions" id="signin-form">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign in">
</form>