<ul class="inner-container">

  <% @links.each do |link| %>
    <li class="links"><a href="<%= link.url %>">
      <%= link.title %></a> - 
      <em><%=link.url%></em>
      <p>
        <em>
          <% link.tags.each do |tag| %>
            <%= tag.text %>
          <% end %>
        </em>
      </p>
    </li>
  <% end %>

</ul>

<div id="new-link" class="inner-container">
  <form action="links" method="post">
    <label class="input">
      Url: <input type="text" name="url">
    </label>
    <label class="input">
      Title: <input type="text" name="title">
    </label>
    <label class="input">
      Tags: <input type="text" name="tags">
    </label>
    <input type="submit" class="btn-add" value ="Add link">
  </form>
</div>